//- article 01
mj-section(background-color='#ffffff' padding-top='20px' padding-left='17px' padding-bottom='10px' padding-right='17px')
    mj-column(width='50%' padding='8px')
        mj-image(width='600px' border='none' padding='0' fluid-on-mobile='true' target='_blank' src='https://i.ibb.co/9NtDzhx/let-E01-052024.jpg' href='https://ecosup-assurance.fr/assurance-vie-premier-trimestre-2024/' alt='Assurance vie : un premier trimestre 2024 dynamique')/
    mj-column(width='50%' padding='8px')
        mj-text(padding='0' align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase') Assurance - Placement
        mj-text(padding='0' align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') Assurance vie : un premier trimestre 2024 dynamique
        mj-text(padding='0' font-size='16px' line-height='20px' font-weight='300') Le marché de l'assurance vie en France se porte bien en ce début d'année 2024. Les #[span(style='font-weight:700;') différents indicateurs] sont au #[span(style='font-weight:700;') vert], avec une hausse des cotisations, une collecte nette positive et un encours record.
        mj-text(align='right' color='#BA4995' font-weight='700') #[a(href='https://ecosup-assurance.fr/assurance-vie-premier-trimestre-2024/' style='color:#BA4995;text-decoration:none;' target='_blank') Lire la suite...]    