//- Agenda
mj-section(background-color='#ffffff' padding-top='20px' padding-bottom='20px' padding-left='0' padding-right='0') 
    mj-column(width='100% ')
        mj-text(padding-top='0' align='left' font-size='28px' font-weight='700' color='#684092') À vos Agendas
    //- Date 1 
    mj-column(width='100%')
        mj-image(border='none' width='600px' fluid-on-mobile='true' src='https://i.ibb.co/Y0f8QRG/Forum-Start-Avenir052024.jpg' alt='Affiche forum Start Avenir 29/05/2024')/
    //- Date 2
    mj-column(width='100%')
        mj-image(border='none' width='600px' fluid-on-mobile='true' src='https://i.ibb.co/PGhwN1t/JPO22062024.jpg' href='https://forms.gle/2bUL9GBcbrEkVusP6' alt='Affiche jpo 22/06/2024')/