mj-section(background-color='#270938' padding-top='20px' padding-bottom='20px')
        mj-column(width='530px')
            mj-text(align='center' padding-top='0' padding-bottom='0' font-size='28px' font-weight='500' line-height='32px' color='#BA4995') #[strong(style='color:#ffffff;') Vous recherchez un(e) alternant(e) !] Nous disposons de nombreux profils dynamiques, intéressants et admis en BTS ou Bachelor. Demandez et consultez notre #[span(style='font-weight:700;color:#ffffff;') CV Book] actualisé.
            mj-button(padding='25px 0 15px 0' align='center' font-size='16px' background-color='#BA4995' color='#ffffff' css-class='hover' href='https://forms.gle/sS8dzxGh6mN2J4yZ7' target='_blank') Contactez-nous