//- article 03
mj-section(background-color='#ffffff' padding-top='20px' padding-left='17px' padding-bottom='10px' padding-right='17px')
    mj-column(width='50%' padding='8px')
        mj-image(width='600px' padding='0' border='none' fluid-on-mobile='true' src='https://i.ibb.co/mqtJHvr/let-E02-052024.jpg' alt="FACE MEL à la plaine de l'image - Tourcoing")/
    mj-column(width='50%' padding='8px')
        mj-text(padding='0' align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase') Acteur de la cité
        mj-text(padding='0' align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') FACE MEL : venez coacher les jeunes lycéens !
        mj-text(padding='0' font-size='16px' line-height='20px' font-weight='300') Toujours prêt à s'insvestir auprès des jeunes, l'équipe #[span(style='font-weight:700;') d'Ecosup Assurance] a participé à l'événement et accompagné près de 300 lycéens sur les compétences, les savoir-être, le savoir-faire, ainsi que la présentation orale de leur parcours. 