//- article 03
mj-section(background-color='#EDF2F7' padding-left='17px' padding-right='17px')
    mj-column(width='50%' padding='8px')
        mj-image(width='480px' padding='0' border='none' fluid-on-mobile='true' src='https://i.ibb.co/R4ghFH4/let3-E-062024.jpg' alt="Invitation à la Reunion BNI sur l'apprentissage")/
    mj-column(width='50%' padding='8px')
        mj-text(padding='0' align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase') événement
        mj-text(padding='0' align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') Ecosup, acteur engagé du BNI
        mj-text(padding='0' font-size='16px' line-height='20px' font-weight='300') Membre permanent du #[span(style='font-weight:700;') BNI Culture Business] d'Halluin, #[span(style='font-weight:700;') Christian Annaloro d'Ecosup Assurance] a pu expliquer ce 20 juin aux chefs d'entreprise présents en nombre l'importance de l'#[span(style='font-weight:700;') apprentissage] dans le #[span(style='font-weight:700;') recrutement]. Une réunion riche en échanges !