
//- Texte
mj-section(background-color='#EDF2F7' padding='0px')
    mj-column(width='100%')
        mj-image(padding='0' border='none' fluid-on-mobile='true' width='600px' target='_blank' src='https://i.ibb.co/KV2Bztr/image052024.jpg' href='https://ecosup-assurance.fr/risques-majeurs-assurance/' alt='Nouveau risques informatique,climatique et économique')/
mj-section(background-color='#EDF2F7' padding-top='10px' padding-bottom='20px')
    mj-column(width='530px') 
        mj-text(padding-top='5px' padding-bottom='5px' font-size='14px' font-weight='900' line-height='18px' text-transform='uppercase' color='#944694') Dossier
        mj-text(padding-top='0' padding-bottom='0' font-size='28px' font-weight='500' line-height='30px' color='#684092') Cyberattaques, Dérèglement climatique et Environnement économique : #[span(style='font-weight:700;') les risques majeurs pour l'assurance]
        mj-text(padding-top='5px' padding-bottom='0' font-size='16px' font-weight='500' line-height='20px') Le monde de l'assurance est confronté à des #[span(style='font-weight:700;') défis croissants] dus à l'#[span(style='font-weight:700') évolution des risques]. Parmi les plus importants, on trouve les #[span(style='font-weight:700') cyberattaques], le #[span(style='font-weight:700') dérèglement climatique] et l'#[span(style='font-weight:700') environnement économique].
        mj-text(padding-top='0' padding-bottom='0' font-size='16px' font-weight='500' line-height='20px') En constante augmentation, ces risques #[span(style='font-weight:700') menacent la stabilité du secteur] et exigent des compagnies d'assurance une adaptation rapide et efficace.
        mj-text(align='right' font-size='16px' line-height='20px' font-weight='700') #[a(href='https://ecosup-assurance.fr/risques-majeurs-assurance/' style='color:#BA4995;text-decoration:none;' target='_blank') Lire la suite...]