//- Block Taxe Apprentissage
mj-section(background-color='#EDF2F7' padding-left='17px' padding-right='17px')
    mj-column(width='50%' padding='8px')
        mj-image(width='480px' padding='0' border='none' fluid-on-mobile='true' src='https://i.ibb.co/G9KRswr/let1-E-062024.jpg' alt="Versement de la Taxe d'Apprentissage")/
    mj-column(width='50%' padding='8px')
        mj-text(padding='0' align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase') taxe d'apprentissage 2024
        mj-text(padding='0' align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') Donnez du sens à votre taxe d'apprentissage
        mj-text(padding='0' font-size='16px' line-height='20px' font-weight='300') Contribution obligatoire, la #[span(style='font-weight:700;') taxe d'apprentissage] offre la liberté... celle de choisir l'organisme de formation que votre entreprise souhaite soutenir. #[span(style='font-weight:700;') Vous avez la main!]
        mj-text(padding='0' font-size='16px' line-height='20px' font-weight='300') Alors, donnez du sens à votre contribution, optez pour #[span(style='font-weight:700;text-transform:uppercase;color:#93278F;') Ecosup Assurance] - code UAI #[span(style='font-weight:700;color:#93278F;') 0595877T].
    mj-column(width='100%')
        mj-button(padding='25px 0 15px 0' align='center' font-size='16px' background-color='#BA4995' color='#ffffff' css-class='hover' href='https://employeurs.soltea.education.gouv.fr/idp/ta5/oauth/authorize?provider=netentreprise&target=employeur&response_type=code&client_id=819066ca-4142-4050-bc4e-94442482ef27&state=SnJYenpYbEV6bU8yQUF2YmtTNUxEVUlGOFZBX3RSaldPc2NEcU1seURiSmJj&redirect_uri=https:%2F%2Femployeurs.soltea.education.gouv.fr%2Fespace-prive%2F&scope=openid%20profile%20TA5_READ%20TA5_WRITE&code_challenge=coOv530E3CTK6ajNlby303D839rM0nJcsBZmj_PKOi0&code_challenge_method=S256&nonce=SnJYenpYbEV6bU8yQUF2YmtTNUxEVUlGOFZBX3RSaldPc2NEcU1seURiSmJj' target='_blank') Versement Taxe Apprentissage  